*::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.css-content,
.html-content {
	font-weight: 700 !important;
	font-size: 0.8em !important;
	font-family: "Courier New", Courier, monospace;
	color: #f3f3f3 !important;
	background-color: #333 !important;
}

.form-floating {
	border: 4px solid #555;
	border-radius: 6px;
}

.form-control {
	border: none !important;
	box-shadow: none !important;
	background-color: #222 !important;
}

ul {
	margin: 0px;
	padding: 0px;
}
.footer-section {
	background: #151414;
	position: relative;
}
.footer-cta {
	border-bottom: 1px solid #373636;
}

.cta-text {
	padding-left: 15px;
	display: inline-block;
}
.cta-text h4 {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 2px;
}
.cta-text span {
	color: #757575;
	font-size: 15px;
}
.footer-content {
	position: relative;
	z-index: 2;
}
.footer-pattern img {
	position: absolute;
	top: 0;
	left: 0;
	height: 330px;
	background-size: cover;
	background-position: 100% 100%;
}
.footer-logo {
	margin-bottom: 30px;
}
.footer-logo img {
	max-width: 200px;
}
.footer-text p {
	margin-bottom: 14px;
	font-size: 14px;
	color: #7e7e7e;
	line-height: 28px;
}
.footer-social-icon span {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	margin-bottom: 20px;
}
.footer-social-icon a {
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
}
.footer-social-icon i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
}
.facebook-bg {
	background: #3b5998;
}
.twitter-bg {
	background: #55acee;
}
.google-bg {
	background: #dd4b39;
}
.footer-widget-heading h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	position: relative;
}
.footer-widget-heading h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 2px;
	width: 50px;
	background: #fff;
}
.footer-widget ul li {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 12px;
}
.footer-widget ul li a:hover {
	color: #fff;
}
.footer-widget ul li a {
	color: #878787;
	text-transform: capitalize;
}
.subscribe-form {
	position: relative;
	overflow: hidden;
}

.copyright-area {
	background: #202020;
	padding: 25px 0;
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.copyright-text a {
	color: #fff;
	text-align: center;
}
.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}
.footer-menu li:hover a {
	color: #fff;
}
.footer-menu li a {
	font-size: 14px;
	color: #878787;
}

/* code snippet css */

pre {
	height: 200px;
	overflow: scroll;
	position: relative;
	background: #d3d6db;
	padding: 10px;
	font-size: 16px;
	word-wrap: break-word;
	white-space: pre-wrap;
	border: 1px solid #e6e7e9;
	border-radius: 8px;
}

.copy-button {
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
	color: #fff;
	background: gray;
	border-radius: 0.5em;
	padding: 2px 7px;
}

.copy-button:hover {
	color: #000;
}
